<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftHelloRSSReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB35679F1A43C9B6006D0842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3567B61A43C9B6006D0842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBB5AA81C76751000776A8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
